:root{
    --base-text-color: black;
}

body {
    color: var(--base-text-color);
    min-height:  100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    color: whitesmoke;
    background-color: darkblue;
}
footer a{
    color: whitesmoke;
}
footer a:hover{
    color: grey;
}

a.card{
    color: var(--base-text-color);
    text-decoration: none;
}

.copyright-notice{
    margin: auto;
}
.copyright-notice > .col{
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.footer-links{
    margin: auto;
    text-align: center;
}
