<footer>
  <p>Author: Drew Jose</p>
  <p><a href="mailto:arnav.jose@gmail.com">arnav.jose@gmail.com</a></p>
  <div class="row footer-links">
    <div class="col"><a href="/contact">Contact Us</a></div>
    <div class="col"><a href="/privacy-policy">Privacy Policy</a></div>
    <div class="col"><a href="https://github.com/crmsnbleyd/storefront">Source code</a></div>
  </div>
  <div class="row copyright-notice">
    <div class="col">
    Copyright © 2023 Queer-web-in - All rights reserved 
    </div>
  </div>
</footer>
